@font-face {
    font-family: 'Avenir Next';
    src: local('Avenir Next Bold'), local('AvenirNext-Bold'),
        url('avenir-next-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next';
    src: local('Avenir Next Thin Italic'), local('AvenirNext-ThinItalic'),
        url('avenir-next-thin-italic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir Next';
    src: local('Avenir Next Medium Italic'), local('AvenirNext-MediumItalic'),
        url('avenir-next-medium-italic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir Next Ultra';
    src: local('Avenir Next Ultra Light Italic'), local('AvenirNext-UltraLightItalic'),
        url('avenir-next-ultra-light-italic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir Next';
    src: local('Avenir Next Light'), local('AvenirNext-Light'),
        url('avenir-next-light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next';
    src: local('Avenir Next Italic'), local('AvenirNext-Italic'),
        url('avenir-next-italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir Next';
    src: local('Avenir Next Bold Italic'), local('AvenirNext-BoldItalic'),
        url('avenir-next-bold-italic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir Next';
    src: local('Avenir Next Heavy'), local('AvenirNext-Heavy'),
        url('avenir-next-heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next';
    src: local('Avenir Next Heavy Italic'), local('AvenirNext-HeavyItalic'),
        url('avenir-next-heavy-italic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir Next';
    src: local('Avenir Next Thin'), local('AvenirNext-Thin'),
        url('avenir-next-thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next';
    src: local('Avenir Next Medium'), local('AvenirNext-Medium'),
        url('avenir-next-medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next';
    src: local('Avenir Next Demi Italic'), local('AvenirNext-DemiItalic'),
        url('avenir-next-demi-italic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir Next';
    src: local('Avenir Next Demi'), local('AvenirNext-Demi'),
        url('avenir-next-demi.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next';
    src: local('Avenir Next Regular'), local('AvenirNext-Regular'),
        url('avenir-next-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next';
    src: local('Avenir Next Light Italic'), local('AvenirNext-LightItalic'),
        url('avenir-next-light-italic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir Next Ultra';
    src: local('Avenir Next Ultra Light'), local('AvenirNext-UltraLight'),
        url('avenir-next-ultra-light.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}
