@charset "utf-8";

.checkups-content {
    /* background-color: var(--account-search-bg-clr); */
    column-gap: 1rem;

    .calendar-wrapper {
        height: 39rem;
        aspect-ratio: 1 / 1;
        border-radius: 2rem;
        background-color: var(--account-search-bg-clr);
        
        .datepicker-top {
            margin-top: 1.5rem;
            margin-bottom: 2rem;
        }

        .datepicker {
            padding: .5rem;
            font-size: 1.75rem;
            font-weight: 500;
        }

        .datepicker-calendar {
            grid-row-gap: 2.5rem;
        }

        .date {
            width: 3rem;
            height: 3rem;
            border-radius: 2rem;            
        }
    }

    .closest-events-wrapper {
        height: 39rem;
        row-gap: 1.1rem;
        overflow: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }

        p {
            margin: 0;
        }

        .event-date-tile {
            border-radius: 1rem;
            padding: 2rem 1rem;
            background-color: var(--prmr-clr);
            color: var(--wt-txt-clr);
            font-size: 2.5rem;
            font-weight: 500;
    
            hr {
                margin-top: 1.3rem;
                margin-bottom: .7rem;
                height: .15rem;
                width: 55%;
                opacity: .7;
            }
        }

        .event-tile {
            border-radius: 1rem;
            padding: 1rem;
            background-color: var(--account-search-bg-clr);
            color: var(--thrd-txt-clr);
            width: 100%;
            background-color: var(--account-search-bg-clr);

            h3 {
                font-size: 1.5rem;
            }
            
            .description {
                font-size: 1.1rem;
                font-weight: 400;
            }
        }
    }
}