@import url("./utilities.css");

.account {
    background-color: var(--account-bg-clr);
    border-radius: 2rem;
    /* padding: 2rem; */
    margin-top: 2rem;
    margin-bottom: 2rem;

    .nav {
        
        .main-nav-wrapper {
            border-radius: 5rem;
            /* padding: .5rem; */
            background-color: var(--btn-wt-clr);
            
            .nav-link {
                /* height: 3.5rem; */
                aspect-ratio: 1 / 1;
            }
            
            .nav-link.active {
                background-color: var(--btn-bl-clr);
                color: var(--btn-wt-clr);
            }
        }
        
        .main-tab svg {
        }
        
        .quit-tab {
            color: var(--btn-red-clr);
        }
    }
    
    .nav-link {
        border: 0;
        border-radius: 50% 50%;
        aspect-ratio: 1 / 1;
        margin: .2rem;
        background-color: var(--btn-wt-clr);
        color: var(--btn-bl-clr);
        
        svg {
            overflow: visible;
            height: 100%;
            width: 100%;
        }
    }

    .account-body-wrapper {
        overflow: hidden;
        
        .header-wrapper {
            padding: 0;
            /* margin-bottom: 2rem; */
            column-gap: 2rem;
            row-gap: 1rem;
    
            .name-wrapper {
                /* min-width: 23rem; */
                /* width: 50%; */

                h2{
                    margin: 0;
                    font-weight: 500;
                }
            }
            
            .navbar-toggler {
                border: 0;
                /* height: 4.5rem; */
                /* width: 4.5rem; */
                aspect-ratio: 1 / 1;
                /* padding: 1rem; */

                svg {
                    height: 100%;
                    width: 100%;
                }
            }

            .notifications-wrapper button{
                background-color: var(--btn-bl-clr);
                color: var(--btn-wt-clr);
                
                svg {
                    margin-left: .1rem;
                    margin-right: .1rem;
                }
            }
    
            .account-header-btn {
                border: 0;
                border-radius: 50% 50%;
                height: 4.5rem;
                width: 4.5rem;
                padding: 1rem;
                margin: 0;
    
                
                svg {
                    margin: 0;
                    padding: 0;
                    height: 2rem;
                }    
            }
        }
        
        .body-wrapper {
            overflow: hidden;

            .photo-wrapper {
                border-radius: 2rem;
                justify-content: center;
                overflow: hidden;
                
                img {
                    width: 100%;
                    object-fit: cover;
                }
            }

            h3 {
                font-weight: 500;
            }

            .account-content .content-wrapper {
                overflow: auto;
                -ms-overflow-style: none;
                scrollbar-width: none;

                &::-webkit-scrollbar {
                    display: none;
                }
                
                .stats-wrapper {
                    column-gap: 2rem;

                    .parameters-stats-wrapper {
                        row-gap: 1rem;
                        
                        .progress-bar-wrapper {
                            font-weight: 500;
                            
                            .progress {
                                border-radius: 3rem;
                                height: 100%;
                                width: 85%;
                                background: #F2F2F2;
                                
                                div[role="progressbar"].progress-bar {
                                    height: 100%;
                                    width: calc(var(--value) * 1%);
                                    border-radius: 3rem;
                                    background: linear-gradient(90deg, #E00000, #E3D300, #37BA03);
                                }
                            }
                        }
                    }

                    .general-stats-wrapper {
                          
                        div[role="progressbar"].circle-progressbar {
                            /* --size: 14rem; */
                            --fg: #37BA03;
                            --bg: #F2F2F2;
                            --pgPercentage: var(--value);
                            /* animation: growProgressBar 3s 1 forwards; */
                            /* width: var(--size); */
                            height: 100%;
                            aspect-ratio: 1 / 1;
                            border-radius: 50% 50%;
                            display: grid;
                            position: relative;
                            place-items: center;
                            background: 
                              /* radial-gradient(closest-side, white 70%, transparent 0 99.9%), */
                              conic-gradient(var(--bg) 5%, var(--fg) calc(var(--pgPercentage) * .3%), var(--fg) calc(var(--pgPercentage) * 1%), var(--bg) 0)
                              ;
                            font-weight: 500;
                            /* font-size: calc(var(--size) / 7); */
                            font-size: 200%;
                            color: inherit;

                            div.inside-circle-progressbar-circle {
                                position: absolute;
                                top: 15%;
                                left: 15%;
                                width: 70%;
                                height: 70%;
                                border-radius: 50%;
                                background-color: white;
                                display: grid;
                                place-items: center;
                            }
                            
                            div.inside-circle-progressbar-circle::before {
                                top: 50%;
                                left: 50%;
                                counter-reset: percentage var(--value);
                                content: counter(percentage) '%';
                            }
                        }

                          
                    }
                }

                .calendar-wrapper {
                    column-gap: 2rem;
                }

                .closest-checkup-date {
                    font-weight: 500;

                    .header {
                        margin-bottom: 1.5rem;
                    }

                    .date {
                        margin: 0;
                        margin-left: .5rem;
                        font-weight: 400;
                        /* font-size: 6rem; */
                    }

                    .month {
                        margin: 0;
                        /* font-size: 1.8rem; */
                        text-align: top;
                    }
                }

                .info-tile {
                    border: .15rem solid white;
                    border-radius: 2rem;
                    width: 100%;
                    aspect-ratio: 290 / 235;
                    /* padding: 2.5%; */
                    background-color: var(--account-info-tile-bg-clr);
                }

                .age-wrapper {
                    .age-tile {
                        width: auto;
                        aspect-ratio: 10 / 1;
                        background: 
                            url("../source/img/account/backgrounds/AgeBg.png") right / 100% no-repeat,
                            white;
                        font-weight: 500;
                        /* font-size: 2.5rem; */
                        color: #37BA03;
                    }
                }

                .passed-steps-wrapper {

                    .passed-steps-tile {
                        /* height: 24rem;
                        width: 38.8rem; */
                        width: auto;
                        aspect-ratio: 1.6 / 1;

                        canvas {
                            height: 100%;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

.search-wrapper {
    position: relative;
    color: var(--search-muted-clr);
    
    svg {
        position: absolute;
        aspect-ratio: 1 / 1;
    }
    
    input {
        border: 0;
        border-radius: 5rem;
        width: 100%;
        /* padding: 1.5rem; */
        /* padding-left: 4.5rem; */
        /* background-color: var(--account-search-bg-clr); */

        &::placeholder {
            opacity: .6;                    
        }

        &::-moz-placeholder{
            opacity: .6;
        }
        
        &::-webkit-input-placeholder {
            opacity: .6;
        }
    }
}

.datepicker {
    background-color: transparent;
    border-radius: 10px;
    padding: .5rem;
    font-size: .75rem;
    font-weight: 600;

    .datepicker-top {
        margin-bottom: .5rem;
    }
    
    .month-selector {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .month-name {
        /* font-weight: 600; */
    }
    
    .datepicker-calendar {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-row-gap: .6rem;
    }
    
    .day, .date {
        justify-self: center;
    }
    
    .day {
        font-weight: inherit;
        justify-self: center;
    }
    
    .date {
        border: 0;
        border-radius: 50% 50%;
        padding: 0;
        width: 1.75rem;
        aspect-ratio: 1 / 1;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: inherit;
        border: 2px solid transparent;
        background-color: transparent;
        cursor: pointer;
        
        &:focus {
            outline: 0;
            color: var(--c-theme-primary);
            border: 2px solid var(--c-theme-primary-accent);	
        }	
    }
    
    .faded {
        color: var(--c-text-secondary);
    }
    
    .current-day {
        color: #FFF;
        border-color: var(--c-theme-primary);
        background-color: var(--c-theme-primary);
    
        &:focus {
            color: #FFF;
            background-color: var(--c-theme-primary-accent);
        }
    }
}

@media (max-width: 575px) {
    .account {
        padding: 5%;
    }

    .nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        overflow: hidden;
        column-gap: 1rem;
        height: 0;
        margin: 1rem 0;
        transition: height .5s ease-in;
        
        .main-nav-wrapper {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 80%;
            height: auto;
            overflow: hidden;
            padding: 2%;

            .nav-link {
                height: 1.3rem;
                padding: 1%;
            }
        }

        &.show {
            height: auto;
        }
    }

    .nav-link {
        height: 2.3rem;
        padding: 2.5%;
    }

    h3 {
        font-size: 1rem;
        margin: 2rem 0 .5rem 0;

    }

    .account-content {
        display: flex;
        flex-wrap: wrap;
        row-gap: 1rem;
    }

    .header-wrapper {
        display: flex;
        flex-wrap: wrap;
        
        .main-tab {
            background-color: transparent;
        }

        .name-wrapper {
            justify-content: center;
            font-size: .6rem;
        }
    }

    .navbar-toggler {
        display: flex;
        height: 1.5rem;
        padding: 1%;
    }

    .search-wrapper {   

        svg {
            width: 1rem;
            height: 1rem;
            padding: .35rem;
        }

        input {
            padding: .5rem;
            padding-left: 2rem;
            font-size: .7rem;
        }
    }

    .notifications-wrapper {
        display: none;
    }

    .photo-wrapper {
        width: 100%;
        aspect-ratio: 1 / 1;
        background-color: #F4F4F4;
        padding: 0 10%;

        img {
            object-position: top;
            width: auto;
            height: 100%;
            top:0
        }
    }
    
    .content-wrapper {
        width: 100%;
        height: auto;
    }

    .info-tile {
        padding: 5%;
    }

    .stats-wrapper {
        flex-wrap: wrap;
        row-gap: 2rem;
        font-size: 1.5rem;
    }

    .calendar-wrapper {
        flex-wrap: wrap;
        row-gap: 2rem;
    }

    .datepicker {
        font-size: 2rem;

        .datepicker-calendar {
            grid-row-gap: 1rem;
        }
        
        .date {
            width: 3rem;
            font-size: 2rem;
        }
    }

    .closest-checkup-date {
        
        .header {
            font-size: 2rem;
        }

        .date {
            font-size: 10rem;
        }

        .month {
            font-size: 4rem;
        }
    }

    .age-tile {
        padding: 1% 5%;
        font-size: 3rem;
    }

    .passed-steps-tile {
        font-size: 2rem;
    }
}

@media (min-width: 576px) {
    .account {
        padding: 5%;
    }

    .nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        overflow: hidden;
        column-gap: .5rem;
        height: 0;
        /* margin: 1rem 0; */
        transition: height .5s ease-in;
        
        .main-nav-wrapper {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 80%;
            height: auto;
            overflow: hidden;
            padding: 2%;

            .nav-link {
                height: 3rem;
                padding: .5rem;
            }
        }

        &.show {
            height: auto;
        }
    }

    .nav-link {
        height: 4rem;
        padding: 1rem;
    }

    h3 {
        font-size: 2rem;
        margin: 2rem 0 .5rem 0;

    }

    .account-content {
        display: flex;
        flex-wrap: wrap;
        row-gap: 1rem;
    }

    .header-wrapper {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 2rem;
        
        .main-tab {
            padding: 2.5%;
            background-color: transparent;
        }

        .name-wrapper {
            justify-content: center;
            width: 50%;
            font-size: 1rem;
        }
    }

    .navbar-toggler {
        display: flex;
        height: 3rem;
    }

    .search-wrapper {

        svg {
            width: 2rem;
            height: 2rem;
            padding: .5rem;
        }

        input{
            padding: 1rem;
            padding-left: 3rem;
            font-size: 1rem;
        }
    }

    .notifications-wrapper {
        display: none;
    }

    .photo-wrapper {
        width: 100%;
        aspect-ratio: 1 / 1;
        background-color: #F4F4F4;
        padding: 0 10%;

        img {
            object-position: top;
            width: auto;
            height: 100%;
            top:0
        }
    }
    
    .account-content .content-wrapper {
        width: 100%;
        height: auto;
        row-gap: 1rem;
    }

    .info-tile {
        padding: 5%;
    }

    .stats-wrapper {
        flex-wrap: wrap;
        row-gap: 2rem;
        font-size: 1.5rem;
    }

    .calendar-wrapper {
        flex-wrap: wrap;
        row-gap: 2rem;
    }

    .datepicker {
        font-size: 2rem;

        .datepicker-calendar {
            grid-row-gap: 1rem;
        }
        
        .date {
            width: 3rem;
            font-size: 2rem;
        }
    }

    .closest-checkup-date {
        
        .header {
            font-size: 2rem;
        }

        .date {
            font-size: 10rem;
        }

        .month {
            font-size: 4rem;
        }
    }

    .age-tile {
        padding: 1% 5%;
        font-size: 3rem;
    }

    .passed-steps-tile {
        font-size: 2rem;
    }
}

@media (min-width: 768px) {
    .nav {
        column-gap: 1rem;
        height: 0;
        /* margin: 1rem 0; */
        
        .main-nav-wrapper {
            flex-wrap: nowrap;
            padding: 1%;
            width: 90%;
        
            .nav-link {
                height: 4rem;
                padding: .75rem;
            }
        }
    }

    .nav-link {
        height: 5rem;
        padding: 1.25rem;
    }

    h3 {
        font-size: 2rem;
        /* margin: 2rem 0 1rem 0; */
    }

    /* .account-content {
        row-gap: 1rem;
    } */

    .header-wrapper {
        
        .name-wrapper {
            font-size: 1.5rem;
        }

        .main-tab {
            background-color: transparent;
            padding: .75rem;
        }
    }

    /* .navbar-toggler {
        display: flex;
    } */

    .search-wrapper {

        svg {
            width: 3rem;
            height: 3rem;
            padding: 1rem;
        }

        input {
            padding: 1.5rem;
            padding-left: 5rem;
            font-size: 1.5rem;
        }
    }

    /* .notifications-wrapper {
        display: none;
    } */

    /* .photo-wrapper {

        img {
        }
    } */
    
    .stats-wrapper {
        font-size: 2.5rem;
    }

    .datepicker {
        font-size: 1.25rem;

        .datepicker-calendar {
            grid-row-gap: 1rem;
        }
        
        .date {
            width: 1.75rem;
            font-size: 1.25rem;
        }
    }

    .closest-checkup-date {
        
        .header {
            font-size: 1.5rem;
        }

        .date {
            font-size: 5rem;
        }

        .month {
            font-size: 3rem;
        }
    }

    .age-tile {
        font-size: 2.5rem;
    }

    .passed-steps-tile {
        font-size: 2rem;
    }
}

@media (min-width: 992px) {
    .nav {
        .main-nav-wrapper {
            
            .nav-link {
                height: 4rem;
                padding: 1rem;
            }
    
        }

        .quit-tab {
            padding: 1.5rem;
        }
    }

    .nav-link {
        height: 5rem;
        padding: 1rem;
    }

    h3 {
        font-size: 2rem;
    }

    .account-content {
        display: flex;
        flex-wrap: wrap;
        row-gap: 1rem;
    }

    .header-wrapper {
        display: flex;
        flex-wrap: wrap;
        
        .name-wrapper {
            width: 50%;
            font-size: 1.5rem;
        }
    }

    /* .navbar-toggler {
        display: flex;
    } */

    .search-wrapper {

        input{
            height: 2rem;
            font-size: 1.25rem;
            padding-left: 5rem;
        }

        svg {
            height: 3rem;
            width: 3rem;
            padding: 1rem;
        }
    }
    
    /* .content-wrapper {
    } */

    .stats-wrapper {
        font-size: 2rem;
    }

    .datepicker {
        font-size: 2rem;

        .datepicker-calendar {
            grid-row-gap: 1.5rem;
        }
        
        .date {
            width: 4rem;
            font-size: 2rem;
        }
    }

    .closest-checkup-date {
        
        .header {
            font-size: 3rem;
        }

        .date {
            font-size: 12rem;
        }

        .month {
            font-size: 6rem;
        }
    }

    .age-tile {
        font-size: 4rem;
    }

    .passed-steps-tile {
        font-size: 2rem;
    }
}

@media (min-width: 1200px) {
    .nav {
        flex-direction: column;
        width: fit-content;
        height: auto;

        .main-nav-wrapper {
            width: auto;
            flex-direction: column;

            .nav-link {
                height: 3rem;
                padding: .85rem;
            }
        }

        .quit-tab {
            padding: 1.25rem;
        }
    }

    .nav-link {
        height: 4rem;
        padding: 1.5rem
    }

    h3 {
        font-size: 1.75rem;
        margin: 0;
    }

    .account-content {
        display: flex;
        flex-wrap: nowrap;
        row-gap: 1.5rem;
    }

    .header-wrapper {
        .main-tab {
            background-color: var(--btn-wt-clr);
        }

        .name-wrapper {
            width: 40%;
            justify-content: start;
            font-size: 1.5rem;
        }
    }

    .navbar-toggler {
        display: none;
    }

    .search-wrapper {

        input{
            height: 1.25rem;
            font-size: 1rem;
            padding-left: 4rem;
        }

        svg {
            height: 2.3rem;
            width: 2.3rem;
            padding: 1rem;
        }
    }

    .notifications-wrapper {
        display: block;
    }

    .photo-wrapper {
        width: 37%;
        aspect-ratio: 458 / 629;
        background-color: #F4F4F4;
        padding: 0;
        
        img {
            object-position: top;
            width: auto;
            height: 100%;
            top:0
        }
    }
    
    .account-content .content-wrapper {
        width: 52%;
        height: 36.5rem;
        row-gap: 1.1rem;
    }

    .info-tile {
        padding: 2.5%;
    }

    .stats-wrapper {
        flex-wrap: nowrap;
        font-size: .9rem;
    }

    .calendar-wrapper {
        flex-wrap: nowrap;
    }

    .datepicker {
        font-size: .75rem;

        .datepicker-calendar {
            grid-row-gap: .75rem;
        }
        
        .date {
            width: 1.5rem;
            font-size: .75rem;
        }
    }

    .closest-checkup-date {
        
        .header {
            font-size: 1.25rem;
        }

        .date {
            font-size: 5rem;
        }

        .month {
            font-size: 2rem;
        }
    }

    .age-tile {
        font-size: 2rem;
    }

    .passed-steps-tile {
        font-size: 2rem;
    }
}

@media (min-width: 1400px) {
    .nav {
        flex-direction: column;
        width: fit-content;
        height: auto;

        .main-nav-wrapper {
            width: auto;
            flex-direction: column;

            .nav-link {
                height: 3.5rem;
                padding: 1rem;
            }
        }

        .quit-tab {
            padding: 1.5rem;
        }
    }

    .nav-link {
        height: 4.5rem;
        padding: 1.25rem
    }

    h3 {
        font-size: 1.75rem;
        margin: 0;
    }

    .account-content {
        flex-wrap: nowrap;
    }

    .header-wrapper {
        .main-tab {
            background-color: var(--btn-wt-clr);
        }

        .name-wrapper {
            width: 45%;
            justify-content: start;
            font-size: 2rem;
        }
    }

    .navbar-toggler {
        display: none;
    }

    .search-wrapper {

        input{
            height: 1.5rem;
            font-size: 1rem;
            padding-left: 4rem;
        }

        svg {
            height: 2.3rem;
            width: 2.3rem;
            padding: 1.2rem;
        }
    }

    .notifications-wrapper {
        display: block;
    }

    .photo-wrapper {
        width: 37%;
        aspect-ratio: 458 / 629;
        background-color: #F4F4F4;
        padding: 0;
        
        img {
            object-position: top;
            width: auto;
            height: 100%;
            top:0
        }
    }
    
    .account-content .content-wrapper {
        width: 50%;
        height: 40rem;
        row-gap: 1.5rem;
    }

    .stats-wrapper {
        font-size: 1rem;
    }

    .datepicker {
        font-size: 1rem;

        .datepicker-calendar {
            grid-row-gap: .75rem;
        }
        
        .date {
            width: 1.5rem;
            font-size: 1rem;
        }
    }

    .closest-checkup-date {
        
        .header {
            font-size: 1.25rem;
        }

        .date {
            font-size: 5rem;
        }

        .month {
            font-size: 2rem;
        }
    }

    .age-tile {
        font-size: 2rem;
    }
}
